<?xml version="1.0" encoding="UTF-8"?>
<rs:definition name="checkQ"
    xmlns:rs="http://www.schoonerinfotech.com/configSchema" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.schoonerinfotech.com/configSchema rules.xsd ">

<servers>
    <write ip="10.1.150.1" port="3306" />
    <write ip="10.1.152.1" port="3306" />
    <read ip="10.1.150.1" port="3306" />
    <read ip="10.1.152.1" port="3306" />
    <read ip="10.1.127.1" port="3306" />
</servers>
<tables>
    <table>
        <key name="a" type="bigint" />
        <val name="b" type="varchar" length="512" />
    </table>
</tables>
<cmds>
    <cmd>
        <insert />
        <delete />
        <update />
        <select />
    </cmd>
</cmds>

</rs:definition>
